@import '~@algolia/autocomplete-theme-classic';

$color-bg: #fff;
$color-muted: #969faf;
$color-light: #797979;
$color-text: #23263b;
$color-mark: rgb(84, 104, 255);
$color-bg-selected: #f5f5fa;
$color-input-icon: #777;
$color-source-icon: rgba(80, 80, 80, 0.32);

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;

$size-xs: 2px;
$size-s: 4px;
$size-m: 8px;
$size-l: 16px;
$size-xl: 32px;

$height: $size-xl;
$height-icon: $size-l;
$font-size: $font-size-m;

.aa-Autocomplete, .aa-Panel, .aa-DetachedContainer {
  --color-mark: #{$color-mark};
  --color-background: #{$color-bg};
  --color-selected: #{$color-bg-selected};
  --color-text: #{$color-text};
  --color-input-icon: #{$color-input-icon};
  --color-source-icon: #{$color-source-icon};
  --height: #{$height};
  --height-icon: #{$height-icon};
  --font-size: #{$font-size};
}

//// ---- Overridden definitions of classic theme

.aa-Panel {
  min-width: 350px;
  z-index: 1100;
  margin-top: $size-xs;

  .aa-PanelLayout {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--color-background);

    .aa-PanelLayoutPreview {
      border-left: solid 1px var(--color-selected);
    }
  }

  .aa-GradientBottom {
    background-image: none;
  }
}

.aa-Autocomplete, .aa-DetachedFormContainer {
  .aa-Form {
    height: var(--height);
    font-size: var(--font-size);
    padding: 0;
    background-color: var(--color-background);

    &:focus-within {
      box-shadow: none;
    }
    .aa-InputWrapperPrefix {
      padding: 0;

      .aa-Label {
        padding: 0;

        svg {
          left: 0;
          vertical-align: middle;
          color: var(--color-input-icon);
          width: var(--height-icon);
        }
      }
    }
    .aa-InputWrapper {
      .aa-Input {
        height: var(--height);
        color: var(--color-text);
      }
    }
    .aa-InputWrapperSuffix {
      height: var(--height);

      .aa-ClearButton {
        padding: 0;

        &:hover,
        &:focus {
          color: var(--color-text);
        }
      }
    }
  }
}

.aa-Item {
  color: var(--color-text);
  padding: $size-xs 0;

  a {
    color: inherit;
    text-decoration: none;
  }

  &[aria-selected='true'] {
    background-color: var(--color-selected);
  }
  .aa-ItemContent {
    display: flex;
    color: var(--color-text);

    mark {
      color: var(--color-mark);
      background-color: transparent;
    }
  }
  .aa-ItemIcon {
    align-items: baseline;
    color: var(--color-source-icon);

    background: none;
    box-shadow: none;
    margin: 0 var(--aa-spacing-half) 0 2px;
  }
  .aa-ItemTitle {
    font-size: $font-size-s;
    font-weight: bold;
    line-height: 18px;
  }
  .aa-ItemHierarchy {
    font-size: $font-size-xs;
    font-style: italic;
    line-height: 18px;
    opacity: 0.8;
    padding: 1px 0;
  }
  .aa-ItemDescription {
    font-size: $font-size-xs;
    line-height: 16px;
    color: $color-light;
  }
}

.aa-DetachedContainer {
  background: var(--color-background);

  .aa-DetachedFormContainer {
    .aa-DetachedCancelButton {
      color: var(--color-text);
    }
  }
}

.aa-DetachedOverlay {
  z-index: 10;
}

.aa-DetachedSearchButton {
  background-color: var(--color-background);

  .aa-DetachedSearchButtonIcon {
    color: var(--color-input-icon);
  }
}


/* Search by */
.aa-powered-by-link {
  display: inline-flex;
  align-items: center;
  margin-left: $size-s;
  vertical-align: middle;

  svg {
    display: block;
    width: auto;
    height: 1.2em;
  }
}
.aa-powered-by {
  text-align: right;
  font-size: $font-size-xs;
  color: $color-muted;
  padding: $size-m $size-m $size-s 0;
  font-weight: normal;
}
